<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://twitter.com/acharyaks90">
                        Anil Kumar (@acharyaks90)
                    </a>
                </li>
                <li>
                    <a href="https://acharyaks90.github.io/myprofile/">
                        About Me
                    </a>
                </li>
                <li>
                    <a href="https://anilkumarsuryavanshi.wordpress.com/">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://acharyaks90.github.io/">
                        Github
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://medium.com/@acharyaks90" target="_blank">Anil Kumar</a> for a better web and Mobile.
        </div>
    </div>
</footer>
