<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Daily Data</h4>
                      <p class="card-category"> Faridabad Daily CORONA COVID 19 STATS</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Date
                                  </th>
                                  <th>
                                      Active
                                  </th>
                                  <th>
                                      Confirmed
                                  </th>
                                  <th>
                                      Death
                                  </th>
                                  <th>
                                      Recovered
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let case of dashBoardService.fbd_data">
                                     
                                      <td class="text-primary">
                                          {{case.date}}
                                      </td>
                                      <td class="text-danger">
                                        {{case.active}}
                                      </td>
                                      <td class="text-warning">
                                        {{case.confirmed}}
                                      </td>
                                      <td class="text-info">
                                        {{case.deceased}}
                                      </td>
                                      <td class="text-primary">
                                         {{case.recovered}}
                                    </td>
                                  </tr>
                              
                                
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
         
      </div>
  </div>
</div>
